* {
  margin: 0px;
}

body {
  background-color: rgb(167, 230, 255);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


.header-nav nav {
  background-color: rgb(5, 12, 156);
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  padding-right: 35px;
  padding-left: 35px;
}

.header-nav nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-basis: 75%;
}

.header-nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}
.header-nav a:hover {
  color: rgb(20, 134, 195);
}

.container {
  padding: 2em;
  text-align: center;
  width: 70%;
  min-height: 350px;
  background-color: aliceblue;
  border-radius: 15px;
  border: 1px solid rgb(167, 230, 255);
  margin: 15px auto;
}



.login {
  display: block;
  margin: 15px;
  padding: 15px;
}

.login input[type="text"], .login input[type="submit"], .login input[type="password"] {
  display: block;
  margin: 10px auto;  /* Ajusta los márgenes para centrar */
  padding: 10px;
  width: 30%;  /* Ajusta el ancho al 50% del contenedor */
  box-sizing: border-box;
  border-radius: 8px;
}

.login i {
    display: block;
   
    align-items: center;
    width: 50%;
    position: relative;
    top: 40px;
    left: 100px;
 }

.login input[type="submit"] {
  background-color: rgb(53, 114, 239);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login input[type="submit"]:hover {
  background-color: rgb(58, 190, 249);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 80px; /* Ajusta el tamaño de la imagen */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}



@font-face {
 
  font-family: 'Open Sans'; /* Puedes poner el nombre que quieras */
  src: url('/src/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype'); /* Cambia la ruta y el formato según corresponda */
  /* Otros formatos de fuente si es necesario (woff, woff2, etc.) */
}

/* Ejemplo de uso de la fuente */
body {
  font-family: 'Open Sans', sans-serif; /* Usa el nombre definido arriba */
}

.button {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}