* {
  margin: 0px;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  padding: 0;
  margin: 0;
}


.header-nav nav {
  background-color: #0077b6;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  padding-right: 35px;
  padding-left: 35px;
  
}
.footer {
  background-color: #0077b6;
  color: white;
}

.header-nav nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-basis: 75%;
  margin-top: 15px;
}

.header-nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}
.header-nav a:hover {
  color: #caf0f8;
}

.container {
  padding: 2em;
  text-align: center;
  width: 70%;
  min-height: 350px;
  background-color: #caf0f8;
  border-radius: 15px;
  border: 1px solid rgb(167, 230, 255);
  margin: 15px auto;
}



.login {
  display: block;
  margin: 15px;
  padding: 15px;
}

.login input[type="email"], .login input[type="submit"], .login input[type="password"] {
  display: block;
  margin: 10px auto;  /* Ajusta los márgenes para centrar */
  padding: 10px;
  width: 30%;  /* Ajusta el ancho al 50% del contenedor */
  box-sizing: border-box;
  border-radius: 8px;
}

.login i {
    display: block;
   
    align-items: center;
    width: 50%;
    position: relative;
    top: 40px;
    left: 100px;
 }

.login input[type="submit"] {
  background-color: rgb(53, 114, 239);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login input[type="submit"]:hover {
  background-color: rgb(58, 190, 249);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 100px; /* Ajusta el tamaño de la imagen */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}



@font-face {
 
  font-family: 'Open Sans'; /* Puedes poner el nombre que quieras */
  src: url('/src/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype'); /* Cambia la ruta y el formato según corresponda */
  /* Otros formatos de fuente si es necesario (woff, woff2, etc.) */
}

/* Ejemplo de uso de la fuente */
body {
  font-family: 'Open Sans', sans-serif; /* Usa el nombre definido arriba */
}

.button {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  
}
.btn-success{
  background-color: #00b4d8 !important;
  border-radius: 4px !important;
  border: 1px solid #0077b6 !important;

 
}

.btn-success:focus, .btn-success.focus {
  box-shadow: none !important; 
  outline: none !important; 
}
.btn-success:checked {
    background-color: inherit !important; 
    color: inherit !important; 
    border-color: inherit !important; 
    box-shadow: none !important;
}
.btn-success:hover{
  background-color: #0077b6 !important;

}

/*Estilos Graficas*/
#myDoughnutChart, #myDoughnutChart2{

width: 40% !important;
height: 50% !important;
margin: auto;
display: inline-block;
}

.charts{
  display: flex;
}

.card-img-top{
  height: 250px !important;
}